@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Managed Identity Demo App - Access SQL by Tenant Context
</h1>
<fluent-card class="customcard">
    <pre><code>@Model.SqlDemoViewModel.Error</code></pre>
    <pre><code>@Model.SqlDemoViewModel.JsonData</code></pre>
    <pre><code>@ViewData["Token"]</code></pre>
</fluent-card>
<form method="post">
    
    <fluent-select title="Select an Identity" name="SelectedIdentity">
        @foreach (var identity in Model.SqlDemoViewModel.Identities)
        {
            if (identity.Value == Model.SqlDemoViewModel.SelectedIdentity)
            {
                <fluent-option value="@identity.Value" selected>@identity.Text</fluent-option>
            }
            else
            {
                <fluent-option value="@identity.Value">@identity.Text</fluent-option>
            }
            
        }
    </fluent-select>
    <fluent-select title="Select a Database" name="SelectedDatabase">
        @foreach (var database in Model.SqlDemoViewModel.Databases)
        {
            if (database.Value == Model.SqlDemoViewModel.SelectedDatabase)
            {
                <fluent-option value="@database.Value" selected>@database.Text</fluent-option>
            }
            else
            {
                <fluent-option value="@database.Value">@database.Text</fluent-option>
            }
            
        }
    </fluent-select>
    <fluent-button id="MI" name="MI" type="submit">Get Token and SqlData</fluent-button>
</form>

